@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
*{
    margin:0;
}
html{
  background-color: #3a3a3a;
  background: rgb(19,20,20);
  background: linear-gradient(0deg, rgba(19,20,20,1) 0%, rgba(58,58,58,1) 100%);
}
.homeg>h1{
    color: white;
    text-shadow: 2px 2px 7px rgb(150, 131, 131);
    font-size: 12vw;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    position: relative;
    padding-top: 20px;
    top: 10px;
}
.darkbackg{
    background-image: url("static/bghome.jpeg");
    filter: brightness(35%);
    height: 590px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}
.images{
    display: flex;
    flex: 50%;
    flex-wrap: wrap;
    padding: 5%;
    position: relative;
    align-items: center;
    top: 80px;
    justify-content: center;
}
.imgg{
    display: flex;
    height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.imgg:hover,
.imgg:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 1px 1px 3cap #999;
}
.Gimg{
    height: 300px;
    padding: 10px;
    width: auto;
}
br{
  margin: 20px;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 35%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

@media screen and (max-width: 800px) {
  .images{
    padding: 0%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .Gimg{
    height: 185px;
  }
}
